/*
    Home Page
*/

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

h3 {
    border-bottom: 1px solid;
}

.introduction {
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    border-width: 10px;
    font-family: Papyrus;
}

.portrait {
    align-items: center;
    text-align: center;
    font-weight: bold;
    min-width: 15rem;
}

.portrait-img {
    width: max(15rem, 75%);
}

.background-image {
    background-image: url('/images/sunset-palms-2.jpg');
    min-height: 200px;
    object-position: bottom;
    background-size: cover;
    background-position: center;
}

.column {
    float: left;
    width: 50%;
}

.tri-column {
    float: left;
    width: 33%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.bordered {
    border: solid, 1px;
    border-radius: 80px;
    padding-top: 15px;
}

.introduction-contact {
    width: 50%;
    min-width: 200px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.quote-text {
    text-align: center;
    align-self: center;
    font-family: "Lucida Handwriting";
    padding-bottom: 15px;
}

.support {
    border-top: 1px solid;
    padding-top: 25px;
    margin-top: 25px;
}

.services {
    text-align: left;
    color: var(--primary-text);
}

/*.services:hover {
    box-shadow: 0px 0px 10px #c799e1;
    background-color: white;
    color: purple;
}*/
