@{
    ViewData["Title"] = "Contact";
}

@section Styles {
    <link rel="stylesheet" href="~/css/pages/contact.css" />
}

<h1>@ViewData["Title"]</h1>

<div class="container-sm d-flex flex-col">

    <div class="row">
        <div class="col" style="width:50%; min-width: 300px; display: flex; flex-direction: column; white-space: normal;">
            <div>
                <p>If you would like to get in contact with me you can send an email to me here using the message box.
                   <br />
                   <br />
                   Alternatively you can email me at:<br />
                   <a href="mailto:surelyreim@yahoo.com">surelyreim@yahoo.com</a>
                </p>
            </div>

        </div>

        <!-- Contact Form -->
        <div class="col m-auto d-flex flex-column" style="width:50%">

            <div class="container" >
                <div class="col">
                    <p class="label">Name:</p>
                </div>
                <div class="col">
                    <input class="input" />
                </div>
            </div>

            <div class="container">
                <div class="col">
                    <p class="label">Email:</p>
                </div>
                <div class="col">
                    <input class="input" />
                </div>
            </div>

            <div class="container">
                <div class="col">
                    <p class="label">Message:</p>
                </div>
                <div class="col">
                    <textarea class="message" minlength="1" maxlength="620"
                              placeholder=""></textarea>
                    <button class="submit-button">Submit Message</button>
                </div>
            </div>
        </div>
    </div>
</div>

