@{
    ViewData["Title"] = "Gentle Kindess with Shirley Reimer";
}
@section Styles {
    <link rel="stylesheet" href="~/css/pages/home.css"/>
}

<!--
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
-->

<body>
    <div class="row quote-text" style="padding-top: 10px">
        <p>
            Providing specialized care for the end of life as a doula.  I am dedicated to building strong, relationships with my patients and families.
        </p>
    </div>

    <div class="container-sm introduction" style="margin-bottom: 25px;">

        <div class="row">
            <!-- Contains Photograph with text underneath -->
            <div class="col portrait">
                <div>
                    <img src="images/oli.jpg" style="width:75%; min-width: 250px; max-width: 400px;"/>
                </div>

                <div style="font-family: Verdana; font-weight: lighter;">
                    <h3 >Shirley Reimer</h3>
                    <p>M.ED. , Ed S.</p>
                </div>
            </div>

            <!-- Contains quote with Schedule an Introductory Meeting button underneath -->
            <div class="col introduction-contact">
                <p class="quote-text" style="border-bottom: 1px solid;">
                    "You go to heaven for the scenery, or to hell for the company.
                    You can keep going here with multiple quotes or do a long one.
                    I'm not sure what it would look better with."
                </p>

                <p style="margin-bottom: 10px; margin-top: 10px;">Assisting the Phoenix area.</p>

                <div style="align-self: center; justify-content: center;">
                    <button>Schedule an introductory meeting</button>
                </div>
            </div>
        </div>

        <div class="container-sm card">
            <h2>Provided Support</h2>
            <div class="row">
                <div class="col services">
                    <h3>Example 1</h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>

                <div class="col services">
                    <h3>Example 2</h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>

                <div class="col services">
                    <h3>Example 3</h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
        </div>
        

    </div>
</body>
