/*
    Site-wide stylings for html, body, buttons, header, footer
*/

/*
    purple: #7400B8;
    dark-blue: #5e60CE;
    blue: #5390D9;
*/

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
    background-color: var(--base-color);
    color: var(--text-color);
}

.body-width-adjustment {
    margin-left: 10%;
    margin-right: 10%;
}

.strokeme {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

h1 {
    text-align: center;
    background: linear-gradient(to left, #7400B8, #5390D9);
    background-clip: text;
    color: transparent;
    font-size: 50px;
    padding: 5px;
}

.color-border {
    background: linear-gradient( to right, #7400B8, #5390D9);
    background-size: 100% 5px; /* if linear-gradient, we need to resize it */
}

h3 {
    text-align: center;
    margin-top: 10px;
    color: var(--text-color)
}


/*
    Light Mode/Dark Mode Stylings
*/
:root {
    --base-color: white; /* Body background color */
    --base-variant: #e8e9ed; /* Used for cards background color */
    --base-accent: white; /* Background for items inside of cards */
    --text-color: #111528; /* Primary color for titles */
    --secondary-text: #232738; /* Secondary color for information */
    --primary-color: #18181b; /* Navigation bars and buttons */
    --secondary-color: #5390D9; /* Secondary button hover color */
    --accent-color: #121212; /* Soft highlight for borders/dividers  */
}

.darkmode {
    --base-color: #121212; /* Body background color */
    --base-variant: #29282b; /* Used for cards background color */
    --base-accent: gray; /* Background for items inside of cards */
    --text-color: #ffffff; /* Primary color for titles */
    --secondary-text: #a5a5a7; /* Secondary color for information */
    --primary-color: #18181b; /* Navigation bars and buttons */
    --secondary-color: #5e60CE; /* Secondary button hover color */
    --accent-color: #4c4b4e; /* Soft highlight for borders/dividers  */
}

#theme-switch {
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--base-variant);
    display:flex;
    justify-content: center;
    align-items:center;
}

#theme-switch svg {
    fill: var(--primary-color);
}
#theme-switch svg:last-child {
    display: none;
}
.darkmode #theme-switch svg:first-child {
    display: none;
}
.darkmode #theme-switch svg:last-child {
    display: block;
}

/*
    
*/




/*
    Buttons
*/
button {
    font-family: Bahnschrift;
    background-color: #a866d1;
    color: white;
    padding: 15px;
    border: 2px solid;
    border-radius: 15px;
    border-color: var(--accent-color);
}

button:hover {
    box-shadow: 0px 0px 10px #c799e1;
    background-color: white;
    color: purple;
}
