html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
    background-color: var(--base-color);
    color: var(--text-color);
}

.body-width-adjustment {
    margin-left: 10%;
    margin-right: 10%;
}

.strokeme {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}


:root{
    --base-color: white;
    --base-variant: #e8e9ed;
    --text-color: #111528;
    --secondary-text: #232738;
    --primary-color: #3a435d;
    --accent-color: #0071ff;
}

.darkmode {
    --base-color: #0D1321;
    --base-variant: #1D2D44;
    --text-color: #ffffff;
    --secondary-text: #a4a5b8;
    --primary-color: #3a435d;
    --accent-color: #0071ff;
}

#theme-switch {
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--base-variant);
    display:flex;
    justify-content: center;
    align-items:center;
}

.secondary {
   background-color: var(--base-variant);
   border: outset 1px black;
}

#theme-switch svg {
    fill: var(--primary-color);
}
#theme-switch svg:last-child {
    display: none;
}
.darkmode #theme-switch svg:first-child {
    display: none;
}
.darkmode #theme-switch svg:last-child {
    display: block;
}




/*
    Buttons
*/
button {
/*    background-color: #575757;
    color: white;*/
    font-family: Bahnschrift;
}

/*
    Home Page
*/

.introduction {
    justify-content: center;
    text-align: center;
/*    background: #343434;*/
    width: 100%;
/*    padding: 35px;*/
    margin: 0 auto;
    border-width: 10px;
/*    border: outset;*/
    font-family: Papyrus;
}

.portrait {
    align-items: center;
    text-align: center;
    font-weight: bold;
}

.background-image {
    background-image: url('/images/sunset-palms-2.jpg');
    min-height: 200px;
    object-position: bottom;
    background-size: cover;
    background-position: center;
    /*    background-color: #111111;
    color: white;*/
}


.column {
    float: left;
    width: 50%;
}

.tri-column {
    float: left;
    width: 33%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.bordered {
    border: solid, 1px;
    border-radius: 80px;
    padding-top: 15px;
}

.introduction-contact {
    width: 50%;
    min-width: 200px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.quote-text {
    text-align: center;
    align-self: center;
    font-family: "Lucida Handwriting";
    padding-bottom: 15px;
}

.support {
    border-top: 1px solid;
    padding-top: 25px;
    margin-top: 25px;
}

.services {
    border: 1px solid;
    padding: 10px;
    margin: 10px;
    width: 33%;
    text-align: left;
    min-width: 200px;
    background-color: var(--base-variant)
}

h3 {
    text-align: center;
    margin-top: 10px;
}

/*
    Contact Page
*/
.label {
    height: 30px;
    align-content: center;
}

.input {
    height: 30px;
    width: 100%;
}

.message {
    height: 250px;
    width: 100%;
    /* Padding for text inside the message box */
    padding-left: 20px;
    padding-right: 20px;
}

.label-column {
    float: left;
    width: 100px;
/*    min-width: fit-content;*/
}

.submit-button {
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    width: 100%;
    margin-right: 20px;
}
